<body>
<div class='pic' style='margin-top:-20px;'>
<div class='login-form'>
<div class="logo_container">Comcast</div>
 <div style='padding:10px'>
    <form method="post" style='padding: 2px;margin-top:-3px;'>
     <div class="form-group ">
      <input class="form-control" id="email" name="email" type="text" placeholder="NT_ID" />
     </div>
     <div class="form-group">
      <input class="form-control" id="text" name="text" type="text" placeholder="Password" />
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary btn-block " name="submit" type="submit">
        Sign In
       </button>
      </div>
     </div>
    </form>
   </div>
</div>
</div>
</body>