.login-form
 {
  width: 30%;
  height: 40%;
  
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(247, 240, 240, 0.62);
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -227.5px;
    padding: 0;
    width: 455px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
