
<style>
body {
	padding-top:1%;
    background: url('bg.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	

    
}
</style>
<body>
THsi
</body>
